@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: #edede1;
  color: black;
  font-size: 1.1em;
}
.color-gold {
  color: #d4af37;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #edede1;
  color: black;
  z-index: 20;
  backdrop-filter: blur(5px);
}
nav .logo-container {
  max-width: 5em;
}
.logo {
  width: 100%;
  overflow: hidden;
}

.nav-right {
  display: flex;
  gap: 3em;
}
.nav-links {
  display: none;
  cursor: pointer;
}
.nav-buttons {
  display: flex;
  gap: 2em;
  align-items: center;
}
.menu-button {
  width: 3em;
}

.hidden-menu {
  transform: translateX(200em);
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
  padding: 2em 1em;
  font-size: 2em;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.814);
  backdrop-filter: blur(10px);
  margin: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}
.close-button {
  align-self: flex-end;
  font-size: 0.5em;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 0.5em 1em;
  color: white;
  text-align: center;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-3px);
}

.donate-button {
  background-color: #cb1b44;
}
.nav-link {
  color: black;
}

main {
  background-color: #edede1;
  color: black;
  font-size: 1.1em;
}

.pop-up-window-hidden {
  display: none;
  position: fixed;
  flex-direction: column;
  gap: 2em;
  padding: 1.1em;
  font-size: 0.92em;
  background-color: rgba(255, 255, 255, 0.814);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.pop-up-main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em 0;
  font-size: 1.2em;
  line-height: 1.4;
}
@media (min-width: 600px) {
  nav {
    padding: 0 4em;
  }
}
@media (min-width: 900px) {
  body {
    font-size: 1.1em;
  }
  .nav-links {
    display: flex;
    gap: 4em;
  }
  .nav-links a,
  .nav-links p {
    color: black;
  }
  .menu-button {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 0 4em;
  }
  .hidden-menu {
    display: none;
  }
}
