.hero-section {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3em 1em;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(7, 1, 15)),
    url("../Images/fuo\ bg.jpeg");
  background-color: rgba(0, 0, 0, 0.3);

  background-blend-mode: multiply;
  background-size: cover;
  color: rgb(214, 212, 212);
  gap: 1em;
  height: 80vh;
  z-index: -10;
}
.gradient-overlay {
  position: relative;
  background: linear-gradient(to bottom, black, rgb(10, 0, 24));
  background-color: rgb(10, 0, 24);
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  height: 3em;
}

.hero-overlay-text h1 {
  font-size: 1.55em;
}
.hero-section p {
  font-size: 0.8em;
}
.hero-overlay-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.hero-button-section {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 2em;
}
.hero-button-section .button {
  min-width: 8em;
  max-width: 9.5em;
  height: 2.5em;
}
.see-impact-button,
.learn-more-button {
  border: solid white 2px;
  font-size: 1em;
}

.learn-more-button {
  border-color: #cb1b44;
  color: #cb1b44;
  padding: 0.5em 0.7em;
}

.about-section {
  font-size: 1em;
}
.who-we-are,
.our-history,
.our-purpose {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 1.1em;
}
.our-history {
  flex-direction: column;
  margin-top: 4em;
  padding: 2em 0;
  margin-bottom: 0;
}
.img-description {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

.who-we-are-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 90%;
  padding: 1.5em;
}
.who-we-are-left {
  border: solid 1.5px black;
}
.our-history-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center 35%;
  border-radius: 12px;
  filter: brightness(80%);
}
.who-we-are-left .button {
  align-self: flex-start;
  border: solid #cb1b44 2px;
  color: #cb1b44;
}
.our-history-right {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  background-color: transparent;
}
.our-history-right p {
  max-width: 90%;
}
.our-purpose {
  flex-direction: column;
  margin: 0;
  padding: 3em 0;
}
.mission-vision {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.mission-vision-card {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 3em;
  align-items: center;
  justify-content: center;
  border: solid black 1.5px;
  border-radius: 15px;
  max-height: 25em;
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
}
.what-class-needs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  line-height: 1.5;
  font-size: 1.1em;
}
.what-class-needs-section .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  place-items: center;
  align-items: baseline;
  max-width: 80%;
  padding-top: 1.2em;
}
.what-class-needs-section .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 10em;
  transition: all 0.3s ease-in-out;
}
.grid-item:hover {
  transform: scale(1.2);
}
.our-impact-section {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
  padding: 0.3em;
}

.our-impact-section .images img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 12px;
  margin: 0.5em 0;
}
.about-section,
.our-history,
.our-purpose,
.what-class-needs-section {
  padding-top: 4em;
  line-height: 1.5;
}
.grid-item img {
  width: 100%;
  max-width: 6em;
}

#teacher-desk {
  min-width: 9em;
}

.words {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 1em;
}

.ongoing-campaigns,
.latest-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  position: relative;
}
.next-button {
  position: absolute;
  top: 35%;
  right: 0;
}
.project .next-button {
  top: 20%;
}
.ongoing-campaigns-mobile-view,
.latest-projects-mobile-view {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.ongoing-campaigns-desktop-view,
.desktop-photo-highlights,
.latest-projects-desktop-view {
  display: none;
}
.campaign,
.encouragement-quote,
.project {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  padding: 0 1.5em;
}

.campaign-top-image,
.project-top-image {
  width: 98%;
  height: 70%;
  aspect-ratio: 16/9;
  margin-bottom: 1em;
  object-fit: cover;
}

.learn-more-link {
  color: #cb1b44;
  cursor: pointer;
}
.encouragement-quote {
  margin-top: 1.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.encouragement-quote p {
  max-width: 95%;
  font-style: italic;
}
.project-description {
  max-width: 95%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.photo-highlights-section {
  margin-top: 6em;
  flex-direction: column;
  gap: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-highlight-img,
.photo-highlights-swiper,
.latest-projects-swiper,
.ongoing-campaigns-swiper {
  width: 100vw;
  object-fit: cover;
  margin: 0;
}
.photo-highlight-img {
  aspect-ratio: 16/9;
}
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-color: white;
}
.latest-projects-swiper .swiper-button-prev,
.latest-projects-swiper .swiper-button-next,
.ongoing-campaigns-swiper .swiper-button-prev,
.ongoing-campaigns-swiper .swiper-button-next {
  width: 20px; /* change width */
  height: 20px; /* change height */
  background-size: 20px 20px;
  transform: translateY(-50%);
  top: 30%;
}

.photo-description {
  max-width: 90%;
  text-align: center;
  font-style: italic;
}

footer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: rgb(10, 0, 24);
  color: white;
  color: white;
  padding: 2em 0;
  font-size: 1.1em;
}
footer a {
  color: white;
}

.footer-grid-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.social-img-links {
  display: flex;
  gap: 1em;
  align-items: center;
}
.social-img-links img {
  width: 2em;
  height: 2em;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.social-img-links img:hover,
.nav-link:hover,
.quick-links-grid a:hover {
  transform: scale(1.2);
}
.nav-link,
.quick-links-grid a {
  transition: transform 0.3s ease-in-out;
}

.active-link {
  border-bottom: solid #e62d58 2.5px;
  padding-bottom: 0.4em;
}
.quick-links-heading {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
.quick-links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.quick-links-grid-left,
.quick-links-grid-right {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.big-screen-only {
  display: none;
}

.copyright-text {
  font-size: 0.8em;
}
.img-box {
  max-width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.who-we-are-left {
  max-width: 25em;
  min-height: 25em;
}
.who-we-are-right {
  text-align: right;
}
@media (min-width: 600px) {
  .hero-overlay-text h1 {
    font-size: 2.5em;
  }

  .hero-section p {
    font-size: 1.1em;
    max-width: 90%;
  }

  .footer-grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 3em;
  }
  .footer-grid-right {
    margin: auto;
  }
  .quick-links-heading {
    display: none;
  }
  .quick-links-grid {
    column-gap: 2em;
  }
  .our-history-grid {
    display: flex;
    justify-content: scenter;
    align-items: center;
    gap: 1.5em;
    padding: 1em;
  }
  .our-history-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-description {
    margin-top: 0.5em;
  }
  .our-history-right .our-history-img,
  .our-history-right .img-description {
    display: none;
  }
  .our-history-right {
    max-width: 50%;
  }
  .our-history-right p {
    max-width: 90%;
  }

  .mission-vision-card {
    max-width: 25em;
    height: 20em;
  }
  .achievements-band {
    padding: 2em;
    font-size: 1em;
  }
  .encouragement-quote {
    max-width: 50%;
  }
}
@media (min-width: 800px) {
  .who-we-are {
    justify-content: center;
    gap: 3em;
    padding: 0 2em;
    align-items: last flex-end;
  }
  .who-we-are-right {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .hero-section {
    height: 90vh;
    padding: 4em;
  }

  .hero-section p {
    font-size: 1.2em;
    max-width: 85%;
  }
  .highlight-img {
    max-width: 80%;
    height: 15em;
  }

  .footer-grid {
    justify-content: center;
    max-width: 80%;
  }
  .footer-grid-right {
    margin-left: auto;
  }
  .quick-links-grid {
    gap: 5em;
  }
  .who-we-are {
    gap: 6em;
  }
  .who-we-are .img-box {
    min-width: 37em;
    max-height: 18em;
    margin-top: 1em;
  }
  .mission-vision {
    flex-direction: row;
  }
  .ongoing-campaigns-mobile-view,
  .latest-projects-mobile-view {
    display: none;
  }
  .ongoing-campaigns-desktop-view,
  .latest-projects-desktop-view {
    display: flex;
    margin-top: 2em;
    justify-content: center;
  }

  .photo-highlights-swiper {
    display: none;
  }
  .desktop-photo-highlights {
    display: inline-block;
    width: 70%;
    height: 32em;
    position: relative;
    overflow: hidden;
  }
  .desktop-photo-swiper {
    width: 100%;
    height: 100%;
  }
  .desktop-photo-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps images proportional */
    display: block;
  }
  .photo-description {
    max-width: 50%;
  }
  .pop-up-window-hidden {
    top: 5em;
    bottom: 5em;
    left: 17em;
    right: 17em;
  }
  .campaign {
    max-width: 35%;
  }
  .what-class-needs-section h3 {
    font-size: 1.5em;
  }

  .what-class-needs-section .grid {
    width: 100%;
  }
  .what-class-needs-section .grid-item {
    min-width: 15em;
  }
  .grid-item img {
    max-width: 10em;
  }
  #teacher-desk {
    min-width: 15em;
  }
  .words {
    max-width: 50%;
  }
}
