main {
  padding: 6em 1em 0 1em;
}
.images img {
  width: 100%;
}

.img-description {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}

.section .words {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.choose-impact-button {
  color: #cb1b44;
  border: solid #cb1b44 2px;
  padding: 0.5em 1em;
}
.our-impact-so-far {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1.5em;
}
.words {
  line-height: 1.5em;
  margin-top: 1.5em;
  max-width: 100%;
}
.our-impact-so-far .images {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.our-impact-so-far .images img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: 10% 30%;
}
ul {
  line-height: 3em;
  padding: 0 1.5em;
}
.desktop-only {
  display: none;
}
.ways-to-give {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 0, 0);
  color: white;
  width: 100vw;
  margin: 2em -1em -2em -1em;
}
.mobile-impact-in-action-swiper,
.plaque-section-swiper,
.field-updates-swiper {
  width: 100vw;
  object-fit: cover;
  margin: 0;
}

.swiper img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center 30%;
}
.impact-in-action .mobile-only .words {
  padding: 0 0.5em;
}
.words.last {
  margin-bottom: 2em;
}

.image.mobile {
  width: 100vw;
}
.plaque-section .images img {
  min-height: 15em;
}

.field-updates-swiper img {
  width: 100%;
  margin-top: 1em;
  object-fit: cover;
  object-position: center 25%;
}
.meet-the-community-img {
  max-width: 25em;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.adopt-a-classroom-img {
  max-width: 18em;
}
.image-section.mobile-only {
  max-width: 100%;
}
.image-section.mobile-only img {
  width: 100%;
  border-radius: 12px;
}
@media (min-width: 700px) and (max-width: 899px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
  .plaque-section .images img {
    min-height: 25em;
  }
  .field-updates-flex-section .image-section {
    height: 28em;
  }
  .field-updates-flex-section .image-section img {
    height: 100%;
    object-position: center 9%;
  }
}
@media (min-width: 900px) {
  .mobile-only {
    display: none;
  }
  .image-section.mobile-only {
    display: none;
  }
  .desktop-only {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.15em;
  }
  .desktop-only .image-section {
    max-width: 50%;
  }
  .desktop-only .words {
    width: 40%;
    margin-top: -0.5em;
  }

  .image-section {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 12px;
  }
  .impact-in-action-desktop {
    width: 100%;
    gap: 1em;
    padding: 0 0 0 1.5em;
  }
  .impact-in-action-desktop .flex-left {
    max-width: 50%;
  }
  .desktop-impact-in-action-swiper {
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
  ul {
    width: 45%;
    line-height: 2em;
  }
  .desktop-impact-in-action-swiper img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 12px;
  }
  .color-gold {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
  }

  .plaque-section {
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: space-evenly;
  }
  .plaque-section .words {
    width: 50%;
  }
  .plaque-section .images {
    width: 40%;
  }

  .plaque-section .images img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 20em;
  }
  .field-updates {
    padding: 0 2em;
  }
  .field-updates-flex-section {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
  }
  .field-updates-flex-section .words {
    width: 100%;
  }
  .meet-the-community,
  .adopt-a-classroom {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .meet-the-community-img {
    max-width: 40em;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .adopt-a-classroom-img {
    max-width: 14em;
  }

  .adopt-a-classroom .flex-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .adopt-a-classroom .flex-section .words {
    max-width: 50%;
  }
  .field-updates-swiper {
    width: 70%;
  }
  .field-updates-swiper img {
    border-radius: 12px;
  }
  .field-updates-flex-section .image-section {
    height: 28em;
  }
  .field-updates-flex-section .image-section img {
    height: 100%;
    object-position: center 9%;
  }
}
