body {
  font-size: 1.1em;
  background-color: #edede1;
}

.our-story {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-story-grid {
  display: flex;
  flex-direction: column-reverse;
  gap: 2em;
}
.our-story p {
  line-height: 1.5;
  padding: 0.5em;
  max-width: 95%;
}
.our-story-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-story h2 {
  font-size: 1.8em;
  padding: 0.5em;
  text-align: center;
}

.our-story-swiper.mobile-only {
  width: 100vw;
  max-height: 50em;
  overflow-x: hidden;
  margin-bottom: 3em;
}
.our-story-swiper img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  filter: brightness(80%);
  overflow-x: hidden;
}
.desktop-only {
  display: none;
}
.good-morning-mom {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story-cont {
  margin-top: 0;
}

.good-morning-mom .left {
  max-width: 25em;
}
.good-morning-mom .left img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
}

@media (min-width: 900px) {
  .our-story {
    padding: 6em 1em;
  }
  .our-story-grid {
    gap: 4em;
    align-items: center;
  }
  .our-story p {
    max-width: 80%;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  .our-story-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1em;
  }
  .our-story-swiper.desktop-only {
    width: 100%;
    max-width: 35em;
    height: 100%;
    overflow-x: hidden;
    border-radius: 12px;
  }
  .our-story-swiper.desktop-only img {
    border-radius: 12px;
  }
  .good-morning-mom {
    padding: 2em 0.5em;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
  }
  .good-morning-mom .left {
    max-width: 40%;
  }
  .good-morning-mom .left img {
    border-radius: 12px;
  }
  .good-morning-mom .right {
    max-width: 55%;
  }
  .story-cont {
    padding: 0 1em;
  }
}
